<h1>Blog List</h1>
<br>

{% for post in posts %} <!--posts객체는 PostLV 클래스 뷰에서 넘겨주는 컨텍스트 변수-->
    <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3> <!--<a href>속성: title 텍스트에 URL 링크를 연결-->
    {{ post.modify_dt|date:"N d, Y" }} <!--modify_dt 속성값을 July 05, 2019 형식으로 출력-->
    <p>{{ post.description }}</p>
{% endfor %}

<br>

<div>
    <span> <!--같은 줄에 배치, 페이징 기능을 위한 줄-->
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
        {% endif %}
    </span>

</div>

